<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <ul class="navbar-nav">
    <li *ngFor='let eachLink of linksFromParent' class="nav-item" appHighLight>
      <a [href]='eachLink.linkRef' class='eachLink.linkStyle nav-link font-weight-bold' >{{eachLink.linkText}}</a>
    <li *ngIf='showLogin'><a href='' class='nav-link font-weight-bold' appHighLight>Login</a>
    <li *ngIf='showLogout'><a href='' class='nav-link font-weight-bold' appHighLight>Logout</a>
    </li>
  </ul>
</nav>
