<table class="table table-sm small">
  <tr>
    <td><label>Enter the policy holder name</label></td>
    <td><input [(ngModel)]='srcName'></td>
  </tr>
  <tr>
    <th> ID </th>
    <th> Policy Holder Name </th>
    <th> Policy Amount </th>
    <th> Maturity Date </th>
  </tr>
  <tr *ngFor="let policy of policyList | filterPipe:'policyHolderName': srcName">
    <td> {{policy.id}}</td>
    <td> {{policy.policyHolderName | uppercase}}</td>
    <td> {{policy.policyAmount | currency:'INR':'symbol'}}</td>
    <td> {{policy.maturityDate | date : 'short'}}</td>
  </tr>
</table>