<!--The content below is only a placeholder and can be replaced.-->
<div class="pgColor">

<div  style="height:150px"><app-header></app-header></div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Insurance Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">

  </div>
</nav>

<main role="main" class="container">

  <div class="starter-template">
    <p class="lead">
        <app-content></app-content><app-show-advisors></app-show-advisors>
         <app-search-branch></app-search-branch>
  </div>

</main><!-- /.container -->
<div  style="height:150px"><app-footer></app-footer></div>
<app-login></app-login>
<app-logout></app-logout>
<article></article>
<button appAddelement [elementToAdd]="'h1'" [elementText]="'Added by Directive'">Add</button>
</div>
<router-outlet></router-outlet>
