.centerText{
    text-align: center;
    font-size: 24px;
    
}
.logo{
    width:100px;
    height: 100px;
    border: 2px solid #ffa000;
    border-radius: 5px;
    
}
.centerLogo{
   float: right;
}